/* Define custom fonts and other styles */
body {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
}
#clock {
    font-size: 40px;
    text-align:center;
    color: rgb(132, 255, 0);
    font-family: 'Anton', sans-serif; /* Apply retro analog alarm clock font */
}

#countdown {
    display: none;
    font-size: 60px; /* Increase font size for countdown */
    font-weight: bold; /* Make it bold */
    color: rgb(51, 180, 51); /* Set the text color to green */
    font-family: 'Cool Bold', sans-serif; /* Apply cool big bold font for countdown */
}

/* Define custom fonts */
@font-face {
    font-family: 'Cool Bold';
    src: url('https://raw.githubusercontent.com/ejahdev/idea/main/fonts/blackwizard.otf') format('opentype');
}

/* Define the move-up animation */
@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* Define the move-up animation */
@keyframes moveDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}


/* Pop-up elements */
#popup {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 25%;
    width: 100%;
    align-content: center;
    /*height: 33.33%;*/
    background-image: url('https://raw.githubusercontent.com/ejahdev/idea/main/img/cloud.png'); /* Replace with your cloud image */
    background-size: cover;
    opacity: 50;
    display: none;
    animation: moveUp 5s ease-in-out forwards, pulse 3s infinite alternate; /* Animation for moving up */
}

/* CSS for the popup text pulsing effect */
@keyframes pulse {
    0% { font-size: 36px; }
    50% { font-size: 50px; }
    100% { font-size: 75px; }
}
#popup-text {
    font-size: 75px;
    font-weight: bold;
    color: rgb(149, 255, 0);
    position: absolute;
    text-align: top;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 2s infinite alternate; /* Animation for pulsing text */
}

/* Animation for sliding in from left */
#popup.slide-in-left {
    animation: slideInFromLeft 1s ease-in-out forwards, moveUp 2s ease-in-out forwards;
}

/* Animation for sliding in from right */
#popup.slide-in-right {
    animation: slideInFromRight 1s ease-in-out forwards, moveUp 2s ease-in-out forwards;
}
