body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(32, 31, 31);
    overflow: hidden;
}

#countdown-message {
    display: none;
    position: absolute;
    font-size: 40px;
    background-color: #aaff00;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    border-style: ridge;
}

.cloud {
    position: absolute;
    bottom: 0;
    animation-duration: 10s; /* Adjust the animation duration as needed */
    width: 1000px; /* Increase the width and height to adjust the size */
    height: auto;
}

#cloud-left {
    left: -500px; /* Initial position off the left side */
}

#cloud-right {
    right: -500px; /* Initial position off the right side */
}

/* Add CSS keyframes for cloud animation */
@keyframes moveCloudLeft {
    0% { left: -400px; }
    50% { left: 0; }
    100% { left: -400px; }
}

@keyframes moveCloudRight {
    0% { right: -400px; }
    50% { right: 0; }
    100% { right: -400px; }
}
